/* GLOBAL */

.downloadprojects:hover {
    opacity: 60%;
}

/* -LIGHT- */

.topiconblack.light:hover {
    opacity: 100%;
}

.profilewhite.light img:hover {
    transform: scale(1.07);
}

.iconsone.light img:hover {
    opacity: 60%;
}

.tabsbuttontwo.light:hover {
    background-color: #d7d7d7;
}

.tabsbuttonone.light:hover {
    background-color: #d7d7d7;
}

/* -DARK- */

.topiconwhite.dark:hover {
    opacity: 100%;
}

.profileblack.dark img:hover {
    transform: scale(1.07);
}

.iconstwo.dark img:hover {
    opacity: 80%;
}

.tabsbuttontwo.dark:hover {
    background-color: #0C151D;
}

.tabsbuttonone.dark:hover {
    background-color: #0C151D;
}
