.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 460px;
    /* margin-left: 12px; */
}

/* ---------------------------------------------------LIGHT------------------------------------------------------------------- */

/* BUTTONS */

.buttonone.light a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3D3D3D;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #FBD144;
    border-radius: 10px;
    padding: 18px 45px;
}

.buttontwo.light a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 18px 55px;
}

.buttonone.light img {
    height: 15px;
    width: 15px;
    padding-bottom: 2px;
}

/* ---------------------------------------------------DARK------------------------------------------------------------------- */

/* BUTTONS */

.buttonone.dark a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3D3D3D;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 18px 50px;
}

.buttontwo.dark a {
    text-decoration: none;
    color: #A3ABB2;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #171F26;
    border-radius: 10px;
    padding: 18px 55px;
}

.buttonone.dark img {
    height: 15px;
    width: 15px;
    padding-bottom: 2px;
}