/* ---------------------------------------------------LIGHT------------------------------------------------------------------- */

/* CREDITS */

.footer.light {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 130px;
}

.footer.light h1 {
    color: #A3ABB2;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.footer.light h2 {
    color: #A3ABB2;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left: 5px;
    padding-top: 4px;
}

/* ---------------------------------------------------DARK------------------------------------------------------------------- */

/* CREDITS */

.footer.dark {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 130px;
}

.footer.dark h1 {
    color: #A3ABB2;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.footer.dark h2 {
    color: #A3ABB2;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left: 5px;
    padding-top: 4px;
}