/* -------------------------------------------------------------LIGTH----------------------------------------------------------- */

@media (max-width: 609px) {

    .footer.light h1 {
        font-size: 13px;
    }

    .footer.light h2 {
        font-size: 9px;
    }
}

@media (max-width: 541px) {

    .projectsgrid.none {
        display: none;
    }

    .projectsgrid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }

    .projectsgrid img {
        width: 300px;
        border-radius: 10px;
    }

    .footer.light h1 {
        font-size: 11px;
    }

    .footer.light h2 {
        font-size: 8px;
    }

    .tabsbackground.light {
        width: 100vw;
        margin-right: 0px;
    }
}

@media (max-width: 500px) {
    .infosone.light h1 {
        font-size: 30px;
    }

    .infosone.light h2 {
        font-size: 11px;
        font-weight: 600;
    }

    .tabsbuttonone.light {
        padding: 20px 80px;
        border-radius: 10px;
        /* transition: all;
        transition-duration: 0.5s; */
    }

    .tabsbuttontwo.light {
        padding: 20px 92px;
        border-radius: 10px;
        transition: all;
        transition-duration: 0.5s;
    }

    .footer.light h1 {
        font-size: 9px;
    }

    .footer.light h2 {
        padding-top: 0;
        font-size: 7px;
    }
}

@media (max-width: 455px) {
    .infosprofile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
    }

    .infosone.light h2 {
        display: none;
    }

    .infosnome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 28px;
    }

    .tabsbackground.light {
        height: 88px;
        width: 350px;
        margin-left: 2px;
    }

    .tabsbuttonone.light {
        padding: 20px 45px;
        border-radius: 10px;
    }

    .tabsbuttontwo.light {
        padding: 20px 57px;
        border-radius: 10px;
    }

    .tabsbuttonone.light p {
        font-size: 13px;
        font-weight: 500;
    }

    .tabsbuttontwo.light p {
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }

    .footer.light {
        display: none;
    }
}

@media (max-width: 412px) {
    .status.light {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 403px) {

    .buttonone.light a {
        font-size: 12px;
        font-weight: 600;
        border-radius: 10px;
        padding: 18px 30px;
    }

    .buttontwo.light a {
        font-size: 12px;
        font-weight: 500;
        border-radius: 10px;
        padding: 18px 42px;
    }
}

@media (max-width: 380px) {
    
    .footer.light {
        display: none;
    }
}

@media (max-width: 340px) {
    .status.light {
        margin-left: 18px;
        margin-right: 10px;
    }

    .status.light h1 {
        font-size: 13px;
    }

    .status.light h2 {
        font-size: 13px;
    }

    .status.light h3 {
        font-size: 13px;
    }

    .tabsbackground.light {
        height: 88px;
        width: 320px;
        margin-left: 2px;
    }

    .tabsbuttonone.light {
        padding: 20px 40px;
        border-radius: 10px;
    }

    .tabsbuttontwo.light {
        padding: 20px 52px;
        border-radius: 10px;
    }

}

@media (max-width: 331px) {
    .status.light h1 {
        font-size: 13px;
    }

    .status.light h2 {
        font-size: 13px;
    }

    .status.light h3 {
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    .topicons {
        margin-left: 20px;
    }

    .infosprofile {
        margin-left: 25px;
    }

    .textinfos {
        margin-left: 30px;
    }

    .statusfull {
        margin-left: 50px;
    }

    .buttons {
        margin-left: 15px;
    }

    .projectsgrid {
        margin-left: 15px;
    }

    .status.light {
        margin-right: 0px;
    }
}

/* ----------------------------------------------------------DARK--------------------------------------------------------------- */

@media (max-width: 609px) {

    .footer.dark h1 {
        font-size: 13px;
    }

    .footer.dark h2 {
        font-size: 9px;
    }
}

@media (max-width: 541px) {

    .projectsgrid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }

    .projectsgrid img {
        width: 300px;
        border-radius: 10px;
    }

    .footer.dark h1 {
        font-size: 11px;
    }

    .footer.dark h2 {
        font-size: 8px;
    }

    .tabsbackground.dark {
        width: 100vw;
        margin-right: 0px;
    }
}

@media (max-width: 500px) {
    .infosone.dark h1 {
        font-size: 30px;
    }

    .infosone.dark h2 {
        font-size: 11px;
        font-weight: 600;
    }

    .tabsbuttonone.dark {
        padding: 20px 80px;
        border-radius: 10px;
        /* transition: all;
        transition-duration: 0.5s; */
    }

    .tabsbuttontwo.dark {
        padding: 20px 92px;
        border-radius: 10px;
        transition: all;
        transition-duration: 0.5s;
    }

    .footer.dark h1 {
        font-size: 9px;
    }

    .footer.dark h2 {
        padding-top: 0;
        font-size: 7px;
    }
}

@media (max-width: 455px) {
    .infosprofile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
    }

    .infosone.dark h2 {
        display: none;
    }

    .infosnome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 28px;
    }

    .tabsbackground.dark {
        height: 88px;
        width: 350px;
        margin-left: 2px;
    }

    .tabsbuttonone.dark {
        padding: 20px 45px;
        border-radius: 10px;
    }

    .tabsbuttontwo.dark {
        padding: 20px 57px;
        border-radius: 10px;
    }

    .tabsbuttonone.dark p {
        font-size: 13px;
        font-weight: 500;
    }

    .tabsbuttontwo.dark p {
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }

    .footer.dark {
        display: none;
    }
}

@media (max-width: 412px) {
    .status.dark {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 403px) {

    .buttonone.dark a {
        font-size: 12px;
        font-weight: 600;
        border-radius: 10px;
        padding: 18px 30px;
    }

    .buttontwo.dark a {
        font-size: 12px;
        font-weight: 500;
        border-radius: 10px;
        padding: 18px 42px;
    }
}

@media (max-width: 380px) {

    .footer.dark h1 {
        display: none;
    }

    .footer.dark h2 {
        display: none;
    }
}

@media (max-width: 340px) {
    .status.dark {
        margin-left: 18px;
        margin-right: 10px;
    }

    .status.dark h1 {
        font-size: 13px;
    }

    .status.dark h2 {
        font-size: 13px;
    }

    .status.dark h3 {
        font-size: 13px;
    }

    .tabsbackground.dark {
        height: 88px;
        width: 320px;
        margin-left: 2px;
    }

    .tabsbuttonone.dark {
        padding: 20px 40px;
        border-radius: 10px;
    }

    .tabsbuttontwo.dark {
        padding: 20px 52px;
        border-radius: 10px;
    }

}


@media (max-width: 320px) {
    .topicons {
        margin-left: 20px;
    }

    .infosprofile {
        margin-left: 25px;
    }

    .textinfos {
        margin-left: 30px;
    }

    .statusfull {
        margin-left: 50px;
    }

    .buttons {
        margin-left: 15px;
    }

    .projectsgrid {
        margin-left: 15px;
    }

    .status.dark {
        margin-right: 0px;
    }
}