.statusfull {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 410px;
    margin: 50px;
}

/* ---------------------------------------------------LIGHT------------------------------------------------------------------- */

/* -Status Position- */

.status.light {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.status.light h1 {
    color: #575757;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    opacity: 90%;
}

.status.light h2 {
    color: #575757;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    opacity: 90%;
}

.status.light h3 {
    color: #575757;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    opacity: 90%;
}

/* ---------------------------------------------------DARK------------------------------------------------------------------- */

/* -Status Position- */

.status.dark {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.status.dark h1 {
    color: #A3ABB2;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    opacity: 55%;
}

.status.dark h2 {
    color: #A3ABB2;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    opacity: 55%;
}

.status.dark h3 {
    color: #A3ABB2;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    opacity: 55%;
}